@model HRSystem.Models.RoleHierarchy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoleHierarchy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChildRole.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildRole.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentRole.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentRole.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
